:root {
  --sp-resize-bg: 0,0,0;
  --sp-resize-opacity: 0.2;
  --sp-resize-bg-active: 81,149,185;
  --sp-resize-opacity-active: 0.6;
}

split-panel, .split-panel {
  display: flex;
  min-width: 0;
  min-height: 0;

  &:not(.split-panel-root) {
    flex-shrink: 0;
    flex-grow: 0;
  }
}

.split-panel-dropzone {
  * {
    pointer-events: none !important;
  }
}

.split-panel {
  width: var(--sp-width);
  height: var(--sp-height);
  cursor: var(--sp-cursor);
  opacity: var(--sp-opacity);
  position: relative;

  &.direction-column {
    flex-direction: column;
    min-height: var(--sp-min-size);
    max-height: var(--sp-max-size);
    width: 100%;
    height: var(--sp-size);

    &.split-panel-parent {
      flex-direction: row;
      min-width: var(--sp-min-size);
      max-width: var(--sp-max-size);

      &:not(.split-panel-root) {
        width: var(--sp-size);
        height: 100%;
      }

      > .split-panel-resize {
        width: var(--sp-resize-size);
        height: 100%;
      }
    }

    > .split-panel-resize {
      height: var(--sp-resize-size);
      width: 100%;
    }

    > .split-panel-content {
      flex-direction: column;
    }
  }

  &.direction-row {
    flex-direction: row;
    min-width: var(--sp-min-size);
    max-width: var(--sp-max-size);
    height: 100%;
    width: var(--sp-size);

    &.split-panel-parent {
      flex-direction: column;
      min-height: var(--sp-min-size);
      max-height: var(--sp-max-size);

      &:not(.split-panel-root) {
        height: var(--sp-size);
        width: 100%;
      }

      > .split-panel-resize {
        height: var(--sp-resize-size);
        width: 100%;
      }
    }

    > .split-panel-resize {
      width: var(--sp-resize-size);
      height: 100%;
    }

    > .split-panel-content {
      flex-direction: row;
    }
  }

  &-resize {
    overflow: hidden;
    background-color: rgba(var(--sp-resize-bg), var(--sp-resize-opacity));
    flex-shrink: 0;
    flex-grow: 0;
    transition: 300ms ease-in-out;

    &:hover, .resizing {
      background-color: rgba(var(--sp-resize-bg-active), var(--sp-resize-opacity-active));
    }

    &-inner {
      width: 100%;
      height: 100%;
    }
  }

  &-ghost {
    position: fixed;
    top: -100vh;
    left: -100vw;
    display: block;
  }

  &-dropzone {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
  }

  &-content {
    display: flex;
    flex: auto;
    overflow: hidden;
    text-overflow: ellipsis;

    &-inner {
      width: 100%;
      height: 100%;
    }
  }
}
